*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --textop: rgba(0, 0, 255, 0.788);
    --destaque:  rgb(0, 0, 255);
    --fundocard:rgb(255, 255, 255);
    --texto:rgb(0, 0, 0);
}

body.escuro{
    background-image:linear-gradient(black);
    --fundocard:rgba(156, 153, 153, 0.616);
    --destaque: #ff5522;
    --texto:rgb(255,255,255);
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://cdn-wcsm.alura.com.br/2025/04/sistema-codigo-binario.png);
    

header{
    background-color:var(--textop);
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    font-size: 1.5em;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    
    
}

nav#menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 1200;
    padding: 12px 15px;
    border-radius: 5px;
}

nav#menu a:hover{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
   
   
}

#ficha{
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
    background-color:var(--fundocard);
    
}

#ficha h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color:var(--destaque);
}

#ficha p{
    text-align: justify;
}

#perfil{
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    outline: 5px solid green;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#social li{
    list-style: none;
    
    
} 

#detalhe{
    grid-column: 2;
    background-color: var(--fundocard);
}

#skills{
    padding: 20px;
}

#skills h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--destaque);
    margin-bottom: 20px;
    font-weight: 1.5em;
}

#lin{
    margin-bottom: 10px;
    color: var(--destaque);
}

#log{
    margin-bottom: 10px;
    color: var(--destaque);
}

#des{
    margin-bottom: 10px;
    color: var(--destaque);
}

#seg{
    margin-bottom: 10px;
    color: var(--destaque);
}

#soft{

    margin-bottom: 10px;
    color: var(--destaque);
}

#detalhe li{
      margin: 10px;
      list-style: none;
}

#formacao{
    grid-column: 2;
    background-color:var(--fundocard);
    padding: 20px;
}

#formacao h1{
    color: var(--destaque);
    margin-bottom: 10px;
    
}

#formacao li{
    margin: 20px;
    
    
}


#projetos{
    grid-column: 2;
    background-color: var(--fundocard);
    padding: 20px;
}

#projetos h1{
    color:var(--destaque);
    margin-top: 5px;
}

#projetos h2{
    color:var(--destaque);
    margin: 10px;
}

#projetos p{
    margin: 10px;
}

#projetos ul{
    list-style: none;
    margin: 10px;
}

.projeto-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.projeto-container img {
    width: 300px;
    border-radius: 10px;
}

.projeto-texto {
    max-width: 600px;
}

@media (max-width: 768px) {
    .projeto-container {
        flex-direction: column;
        text-align: center;
    }
}


}